<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали Медицинской Записи</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Детали Медицинской Записи</h1>
    <p><strong>ID:</strong> <span th:text="${medicalRecord.id}">1</span></p>
    <p><strong>Пациент:</strong> <span th:text="${medicalRecord.patient.firstName} + ' ' + ${medicalRecord.patient.lastName}">Пациент</span></p>
    <p><strong>Доктор:</strong> <span th:text="${medicalRecord.doctor.name}">Доктор</span></p>
    <p><strong>Диагнозы:</strong>
    <ul>
        <li th:each="diagnosis : ${medicalRecord.diagnoses}" th:text="${diagnosis.diagnosis}">Диагноз</li>
    </ul>
    </p>
    <p><strong>Лечения:</strong>
    <ul>
        <li th:each="treatment : ${medicalRecord.treatments}" th:text="${treatment.treatment}">Лечение</li>
    </ul>
    </p>
    <p><strong>Рецепты:</strong>
    <ul>
        <li th:each="prescription : ${medicalRecord.prescriptions}" th:text="${prescription.medication}">Рецепт</li>
    </ul>
    </p>
    <p><strong>Результаты Анализов:</strong>
    <ul>
        <li th:each="analysisResult : ${medicalRecord.analysisResults}" th:text="${analysisResult.result}">Результат</li>
    </ul>
    </p>
    <a href="/medical-records" class="view-btn">Назад к списку</a>
</div>
</body>
</html>
