<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Медицинских Записей</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Список Медицинских Записей</h1>
    <a href="/medical-records/new" class="view-btn">Добавить Новую Запись</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Пациент</th>
            <th>Доктор</th>
            <th>Диагнозы</th>
            <th>Лечения</th>
            <th>Рецепты</th>
            <th>Результаты Анализов</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicalRecord : ${medicalRecords}">
            <td th:text="${medicalRecord.id}">1</td>
            <td th:text="${medicalRecord.patient.firstName} + ' ' + ${medicalRecord.patient.lastName}">Пациент</td>
            <td th:text="${medicalRecord.doctor.name}">Доктор</td>
            <td th:each="diagnosis : ${medicalRecord.diagnoses}" th:text="${diagnosis.diagnosis}">Диагноз</td>
            <td th:each="treatment : ${medicalRecord.treatments}" th:text="${treatment.treatment}">Лечение</td>
            <td th:each="prescription : ${medicalRecord.prescriptions}" th:text="${prescription.medication}">Рецепт</td>
            <td th:each="analysisResult : ${medicalRecord.analysisResults}" th:text="${analysisResult.result}">Результат</td>
            <td>
                <a th:href="@{/medical-records/{id}(id=${medicalRecord.id})}" class="view-btn">Просмотр</a>
                <a th:href="@{/medical-records/edit/{id}(id=${medicalRecord.id})}" class="view-btn">Редактировать</a>
                <a th:href="@{/medical-records/delete/{id}(id=${medicalRecord.id})}" class="delete-btn">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
