<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<h1>Register</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
  <div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
  </div>
  <div>
    <label>Username:</label>
    <input type="text" th:field="*{username}" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" th:field="*{password}" />
  </div>
  <div>
    <label>Email:</label>
    <input type="email" th:field="*{email}" />
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<a href="/login"> Войти </a>
</body>
</html>
