<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали Диагноза</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Детали Диагноза</h1>
    <p><strong>ID:</strong> <span th:text="${diagnosis.id}">1</span></p>
    <p><strong>Медицинская карта:</strong> <span th:text="${diagnosis.medicalRecord.id}">1</span></p>
    <p><strong>Диагноз:</strong> <span th:text="${diagnosis.diagnosis}">Диагноз</span></p>
    <a href="/diagnoses" class="view-btn">Назад к списку</a>
</div>
</body>
</html>
